{{#if posts.length}}
  <section>
    <h2>Your Tech Posts</h2>
    <ol>
      {{#each posts}}
        <li>
          <article class="post">
            <div class="title">
              <a href="/post/{{id}}">{{title}}</a>
            </div>
            <div class="meta">
              <strong>Posted by
                {{this.User.username}}
                on
                {{this.createdAt}}</strong>
            </div>
          </article>
          <a href="/dashboard/edit/{{id}}" class="edit-link">Edit post</a>
        </li>
      {{/each}}
    </ol>
  </section>
{{else}}
  <p>You haven't created any posts yet.</p>
{{/if}}

<div>
  <button type="submit"><a href="/dashboard/newpost" class="create-btn">Create a
      new Post</a></button>
</div>